.tipio {
  margin-top: 0;
  font-size: 2.5em;
  line-height: 1.2;
  font-weight: bold;
  font-family: e-Ukraine Head;
  font-size: 62px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: left;
}

.bluchio {
  color: #9BC5E9; // Основний синій колір тексту
  -webkit-text-stroke: 1px #9BC5E9; // Синя обводка тексту
  font-size: inherit; // Залишаємо розмір тексту таким самим
  font-style: italic;
  font-family: "Pacifico";
  font-size: 90px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: left;
}