.values {
  max-width: 100%;
  margin: 40px 102px;
  padding: 20px;

  &__header {
    text-align: center;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    &-img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }

    &-title {
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__main-title {
    display: flex;
    align-items: start;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 80px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__first-column, &__second-column, &__third-column {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: auto;
  }

  &__points-title {
    margin-bottom: 16px;
    color: rgb(55, 55, 55);
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &__text-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 126px;
  }
}
