.values {
  max-width: 100%;
  margin: 40px 102px;
  padding: 20px;

  &__header {
    text-align: center;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: -40px;

    &-img {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }

    &-title {
      font-size: 16px;
    }
  }

  &__title-block {
    display: flex;
    flex-direction: row;
    gap: 10px;

    &-color {
      color: #9BC5E9;
    }
  }



  &__main-title {
    display: flex;
    align-items: start;
    // font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: -15px;
    margin-bottom: 80px;

    margin-top: 0;
    font-size: 2.5em;
    line-height: 1.2;
    font-weight: bold;
    font-family: e-Ukraine Head;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: left;
  }

  &__flock {
    display: flex;
    flex-direction: row;
  }

  &__highlight {
    color: #9BC5E9; // Основний синій колір тексту
    -webkit-text-stroke: 1px #9BC5E9; // Синя обводка тексту
    font-size: inherit; // Залишаємо розмір тексту таким самим
    font-style: italic;
    font-family: "Pacifico";
    font-size: 90px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: left;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__first-column {
    display: flex;
    flex-direction: column;
    width: 13%;
    height: auto;
  }
  &__second-column, &__third-column {
    display: flex;
    flex-direction: column;
    width: 28%;
    height: auto;
  }

  &__points-title {
    margin-bottom: 16px;
    color: rgb(55, 55, 55);
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &__text-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 126px;
  }
}

