.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: block;
    margin: 40px 102px;
  }

  &__nav {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__lang-block {
    display: inline-flex;
  }

  &__lang-button {
    width: 22px;
    height: 14px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8;
    padding: 8px 40px 11px 40px;
  }
}
