.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: block;
    margin: 40px 102px;
  }

  &__nav {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__lang-block {
    display: inline-flex;
  }

  &__lang-button {
    background: transparent; // Без фону
    border: 2px solid #155FFF; // Оформлення кнопок
    border-radius: 5px; // Закруглення кутів
    color: #155FFF; // Колір тексту
    font-size: 16px; // Розмір шрифту
    padding: 8px 16px; // Внутрішні відступи
    cursor: pointer; // Зміна курсора при наведенні
    transition: background-color 0.3s, color 0.3s; // Анімація

    &:hover {
      background-color: rgba(21, 95, 255, 0.1); // Фон при наведенні
      color: #fff; // Колір тексту при наведенні
    }

    &:not(:last-child) {
      margin-right: 10px; // Відстань між кнопками
    }
  }
}
