// Кольори
$c-gray-light: #f2f2f2;
$c-gray-border: #ccc;
$c-gray-dark: #d3d3d3;
$c-gray-text: #555;
$c-gray-hover: #e0e0e0;
$c-gray-active: #d6d6d6;
$c-bg-light: #f9f9f9;
$c-bg-dark: #f0f0f0;
$c-shadow-light: rgba(0, 0, 0, 0.1);
$c-shadow-dark: rgba(0, 0, 0, 0.15);

// Колір для заголовків
$c-primary-text: #333;

// Колір для виділених елементів
$c-highlight-text: #9BC5E9;

// Колір для описів та тексту
$c-secondary-text: #555;
