.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  gap: 170px;

  &__logo {
    display: block;
    margin: 40px 102px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    position: relative;
  }

  &__toggle-arrow {
    background-color: transparent;
    border: none;
    color: #0077b6;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
