// @font-face {
//   font-family: "e-Ukraine Head";
//   src: url("../src/fonts/e-Ukraine/e-Ukraine-Regular.otf") format("opentype");
//   font-weight: 400; /* Regular */
// }

// @font-face {
//   font-family: "e-Ukraine Head";
//   src: url("../src/fonts/e-Ukraine/e-Ukraine-Bold.otf") format("opentype");
//   font-weight: 700; /* Bold */
// }

@font-face {
  font-family: "e-Ukraine Head", sans-serif;
  src:
    local("e-Ukraine Head"),
    url("../src/fonts/e-Ukraine/e-Ukraine-Bold.otf") format("opentype") tech(color-COLRv1),
    url("../src/fonts/e-Ukraine/e-Ukraine-Regular.otf") format("opentype"),
    url("../src/fonts/e-Ukraine/e-Ukraine-UltraLight.otf") format("woff");
}

* {
  width: 1265px;
  height: 838px;

  padding: 0;
  box-sizing: border-box;
  font-weight: inherit;
}

html {
  font-family: 'e-Ukraine Head';
}
