@import './fonts';

* {
  width: 1265px;
  height: 838px;

  padding: 0;
  box-sizing: border-box;
  font-weight: inherit;
}

html {
  font-family: 'e-Ukraine Head';
}

// @font-face {
//   font-family: 'e-Ukraine Head';
//   src: url('./fonts/e-Ukraine-Head-Regular.woff2') format('woff2');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'e-Ukraine Head';
//   src: url('./fonts/e-Ukraine-Head-Bold.woff2') format('woff2');
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'e-Ukraine Head';
//   src: url('./fonts/e-Ukraine-Head-Italic.woff2') format('woff2');
//   font-weight: 400;
//   font-style: italic;
// }
