@font-face {
  font-family: e-Ukraine Head, Roboto, Arial;
  src:
    url("../src/fonts/e-Ukraine/e-Ukraine-Bold.otf") format("opentype") tech(color-COLRv1),
    url("../src/fonts/e-Ukraine/e-Ukraine-Regular.otf") format("opentype"),
    url("../src/fonts/e-Ukraine/e-Ukraine-UltraLight.otf") format("woff");
    // url('../fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  width: 1265px;
  height: 838px;

  padding: 0;
  box-sizing: border-box;
  font-weight: inherit;
}

html {
  font-family: 'e-Ukraine Head', serif;
}
