.phrase {
  margin-bottom: 160px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-size: 16px;
    color: rgb(55, 55, 55);
    margin-bottom: 26px;
  }

  &__person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 66px;
  }

  &__person-block {
    display: flex;
    flex-direction: column;
  }

  &__person-name {
    display: block;
    text-align: center;
    font-size: 0.7em;
    margin-bottom: 6px;
  }

  &__person-position {
    font-size: 0.6em;
    color: #888;
  }

  &__main {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-weight: bold;

    &-modef {
      display: flex;
      flex-direction: row;
      font-weight: bold;
      gap: 15px;

      &-title-color {
        font-weight: bold;
        font-size: 2.5em;
        color: #9BC5E9;
        font-family: Pacifico;
      }

      &-title {
        font-size: 2.5em;
        margin-top: 13px;
      }
    }

    &-title-color {
      font-family: Pacifico;
      font-size: 2.5em;
      color: #9BC5E9;
    }

    &-title {
      font-size: 2.5em;
    }

    &-title-end-color {
      font-family: Pacifico;
      font-size: 2.5em;
      color: #9BC5E9;
    }
  }
}


