.phrase {
  margin-top: 91px;
  margin-bottom: 158px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
  }

  &__person-block {
    display: flex;
    flex-direction: column;
  }

  &__person-name {
    display: block;
    text-align: center;
    margin-bottom: 6px;
  }

  &__person-position {
    display: block;
    text-align: start;
    margin-top: 0;
  }

  &__main {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 66px;
  }
}
