.banner {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: rgb(55, 55, 55);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;

  &__titles {
    display: flex;
    flex-direction: column;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__stars {
    width: 16px;
    height: 16px;
  }

  &__clients {
    display: flex;
    align-items: center;
    margin: 0 8px;
  }

  &__title-main, &__explanation {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin: 8px 0;
  }

  &__button-icon {
    width: 14px;
    height: 14px;
    transform: rotate(135deg);
    border: 1.5px solid rgb(55, 55, 55);
    box-shadow: 1px 1px 0 rgb(255, 255, 255);
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 20px;
  }

  .banner__title-main {
    width: 100%;
    font-size: 1.5rem;
  }

  .banner__button {
    width: 100%;
  }
}
