.education {
  &__info {
    text-align: start;
    margin-bottom: 104px;
  }

  &__blog {
    display: flex;
    align-items: center;
    gap: 8px;

    &-img {
      display: block;
      width: 18px;
      height: 18px;
    }

    &-title {
      font-size: 16px;
    }
  }

  &__block {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 12px;

    &-title {
      font-size: 2.5em;
      margin-top: 12px;

      &-color {
        font-size: 2.5em;
        font-family: Pacifico;
        color: #9BC5E9;
      }
    }
  }

  .education__switch {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 74px;
    margin-bottom: 74px;
  }

  &__corporate-pre {
    font-weight: normal;
    color: #888;
  }

  &__corporate-icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    justify-items: center;

    .education__corporate-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 36px;
      padding: 5px 5px;
      border: 2px solid transparent;
      border-radius: 8px;
      background-color: transparent;
      transition: background-color 0.3s, border-color 0.3s;

      &:hover {
        background-color: #f9f9f9;
      }

      &:active {
        background-color: #e6e6e6;
        border-color: #ccc;
      }
    }
  }

  .button {
    width: 25%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    background: #f2f2f2;
    border: 1px solid #d3d3d3;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    &:hover {
      background: #e5e5e5;
      box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.15),
                  0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    &.active {
      background: #d6d6d6;
      border: 1px solid #b0b0b0;
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2),
                  0px 3px 6px rgba(0, 0, 0, 0.15);
    }
  }
}
