.media {
  height: 496px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #9BC5E30D;
  text-align: center;
  margin-top: 168px;
  margin-bottom: 168px;
  margin: 0 auto;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  &__logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: -10px;

    &-img {
      height: 18px;
      width: 18px;
      height: auto;
      margin-right: 10px;
    }

    &-title {
      font-size: 16px;
    }
  }

  &__main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -40px;

    &-title {
      font-size: 2.5rem;

      &-color {
        font-size: 2.5rem;
        color: #9BC5E9;
      }
    }
  }



  .media__social {
    display: flex;
    gap: 40px;
    margin-top: 60px;

    &-link {
      display: inline-flex;
      transition: transform 0.3s ease;
    }

    &__icon {
      width: 32px;
      height: auto;
      transition: filter 0.3s ease;

      &:hover {
        background-color: #000;
      }

      &.active {
        background: #d6d6d6;
        border: 1px solid #b3b3b3;
      }
    }
  }
}
